* {
  font-family: "JetBrains Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px 0;
}

input, .task {
  border-radius: 5px;
  border: solid 1px lightgrey;
  padding: 10px;
}

.list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-gap: 5px;
}

@media screen and (max-width: 670px) {
  main {
    padding: 0 20px;
  }
}

@media screen and (max-width: 460px) {
  main {
    padding: 0 10px;
  }
}